:root {
  --primary-orange: hsl(30, 100%, 50%);
  --darker-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-gray: hsl(216, 7%, 21%);
  --medium-gray: hsl(216, 12%, 54%);
  --light-gray: hsl(220, 4%, 86%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Overpass', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  background-color: var(--darker-blue);
  color: var(--white);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--white);
}

.icon-wrapper {
  background: var(--dark-gray);
  display: inline-block;
  padding: .75rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.icon-wrapper img {
  width: 14px;
}

.component-wrapper {
  max-width: 327px;
  background: var(--dark-blue);
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

@media (min-width: 400px) {
  .component-wrapper{
    max-width: 360px;
  }
}

.component-wrapper h2 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.component-wrapper p {
  color: var(--light-gray);
  line-height: 1.5;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
}

fieldset {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

input[type="radio"] {
    cursor: pointer; 
    position: relative;
    width: 50px;
    height: 48px;
    border-radius: 50%;
    margin: 0; 
}

input[type='radio']::before{ 
  content: attr(data-number);     
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.rating--initial-state {
  background: var(--dark-gray);
  color: var(--medium-gray);
  transition: all 0.3s ease;
}

.rating--initial-state:hover {
  background: var(--medium-gray);
  color: var(--white);
}

input[type='radio']:checked {
  background: var(--primary-orange);
  color: var(--darker-blue);
}

.submit-btn {
  width: 100%;
  padding: .875rem .875rem .675rem .875rem;
  border: 0;
  border-radius: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 600;
  background-color: var(--dark-gray);
  color: var(--medium-gray);
  cursor: pointer;
}

.active-btn {
  background: var(--primary-orange);
  color: var(--dark-blue);
  transition: all 0.3s ease;
}

.active-btn:hover {
  background: var(--white);
  color: var(--primary-orange);
}

#error-msg {
  text-align: center;
  margin-top: .75rem;
  color: var(--white);
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: none;
}

.wrapper-thankyou {
  text-align: center;
  display: none;
  position: relative;
}

.wrapper-thankyou img {
  margin: 1.25rem auto 1.75rem auto;
}

.rating-msg {
  background: var(--dark-gray);
  color: var(--primary-orange);
  display: inline-block;
  margin-bottom: 1.75rem;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
}

.rating-msg p {
  display: inline;
}

.close-icon-btn {
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
  background: none;
  border: 0;
  color: var(--light-gray);
}

.fm-attribution-row {
  padding: 2rem 0;
}

.fm-attribution {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--white);
  text-align: center;
}

.fm-attribution a {
  color: var(--white);
}